/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.menu {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-item {
  margin: 5px;
  border: 10px;
  padding: 20px;
  padding-left: 50px;

}

.logo-img {
  width: auto;
  height: auto;
  border-bottom: 30px;
  margin-bottom: 30px;
}

.description1 {
  color: orange;
  text-align: center;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 40px;
  font-family: cursive;
  font-size: 23px;
  margin: 2px;
  padding: 0px;
  border: 0px;
}

.description2 {
  font-weight: bolder;
  color: grey;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 70px;
}

.item-title {
  font-weight: bold;
  font-size: 27px;
}

.item-img {
  object-fit: cover;
  width: 180px !important;
  height: 160px !important;
  border-radius: 40px;

}

.item-description {
  color: gray;
  font-size: 20px;

}

.amount-button {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 40px;
  background-color: #FFC067;
  border-style: solid;
  border-color: orange;
}

.subtotal {
  margin-left: 10px;
  padding-left: 40px;
  font-size: 20px;
}

.order-button {
  border-radius: 40px;
  background-color: lightblue;
  border-color: darkblue;
  border-style: solid;
  width: 80px;
  font-size: 18px;


}

.clear-button {
  border-radius: 40px;
  width: 120px;
  font-size: 18px;
}